{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"arrowParens": "avoid",
	"importOrder": ["^@/utils/(.*)"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
