.orderDetail{
  font-weight: 400;
  font-size: 16px;
}

.orderStatusTooltip{
  font-weight: 600;
}

.unknown{
  color: #adadad;
}
.inWay{
  color: #E56427;
}
.arrived{
  color: #4d05ab;
}
.completed{
  color: #1E796A;
}
.cancelled{
  color: #ab0d0d;
}
.waitingAnswer{
  color: #41b417;
}
