// Неизвестно
.unknown {
	color: #adadad;
}

// В пути
.inWay {
	color: #e56427;
}

// Доставлен на пункт выдачи
.arrived {
	color: #4d05ab;
}

// Получен
.completed {
	color: #1e796a;
}

// Отменен
.cancelled {
	color: #ab0d0d;
}

// Ожидает ответа
.waitingAnswer {
	color: #41b417;
}
